In [1]:
!python --version

Python 3.8.10

In [ ]:
#Step I 
#Problem Statement
#House Price Prediction

In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

In [5]:
dataset = load_boston()
df = pd.DataFrame(dataset.data,columns = dataset.feature_names)
df

C:\Users\BA001AX\anaconda3\envs\project\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [ ]:
# Step 3: EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [7]:
df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [ ]:
### Step 4: Feature Engg.

In [ ]:
### Step 5: Features Selection

In [ ]:
### Step 6: Model Training

In [8]:
df['PRICE'] = dataset.target
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [9]:
x = df.drop('PRICE',axis = 1)
y = df['PRICE']

In [10]:
### Spilt the data 

x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state=5)
x_train.shape,x_test.shape, y_train.shape, y_test.shape

((379, 13), (127, 13), (379,), (127,))

In [11]:
### Model Training

lin_model = LinearRegression()
lin_model.fit(x_train,y_train)   ### BFS >> GDA

LinearRegression()

In [12]:
### Step 7: Model Evaluation 

### Testing Data 

y_pred = lin_model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_test, y_pred)
print(f"MAE = {mae}")

r2 = r2_score(y_test,y_pred)
print(f"R-Sequared Value = {r2}")

MSE = 24.27460831168786
RMSE = 4.926926862831217
MAE = 3.2900183526885503
R-Sequared Value = 0.705909607109805

In [13]:
### Training Data 

y_pred_train = lin_model.predict(x_train)

print(f"Training Data Metric")
mse = mean_squared_error(y_train, y_pred_train)
print(f"MSE = {mse}")
print(f"RMSE = {np.sqrt(mse)}")

mae = mean_absolute_error(y_train, y_pred_train)
print(f"MAE = {mae}")

r2 = r2_score(y_train,y_pred_train)
print(f"R-Sequared Value = {r2}")

Training Data Metric
MSE = 21.514174022233703
RMSE = 4.6383374200497425
MAE = 3.282923793764658
R-Sequared Value = 0.7468034208269784

In [ ]:
### USER TEST FUNCTION

In [14]:
x_train.head(1).T

               218
CRIM       0.11069
ZN         0.00000
INDUS     13.89000
CHAS       1.00000
NOX        0.55000
RM         5.95100
AGE       93.80000
DIS        2.88930
RAD        5.00000
TAX      276.00000
PTRATIO   16.40000
B        396.90000
LSTAT     17.92000

In [15]:
CRIM = 0.21                #Predicted Value
ZN = 0.01
INDUS=15.89000
CHAS=2.000
NOX=0.75000
RM=7.95100
AGE=85.80000
DIS=2.58930
RAD=3.00000
TAX=250.00000
PTRATIO=12.40000
B=350.90000
LSTAT=15.92000

array = np.array ([CRIM,ZN,INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX,PTRATIO, B, LSTAT], ndmin = 2)
print(array)

price = lin_model.predict(array)
price
# PRICE = ???

[[2.1000e-01 1.0000e-02 1.5890e+01 2.0000e+00 7.5000e-01 7.9510e+00
  8.5800e+01 2.5893e+00 3.0000e+00 2.5000e+02 1.2400e+01 3.5090e+02
  1.5920e+01]]

C:\Users\BA001AX\anaconda3\envs\project\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36.20864376])

In [16]:
columns_list = list(x.columns)

In [17]:
import pickle 

with open('model.pkl','wb') as file:
    pickle.dump(lin_model, file)

In [18]:
d1 = {'columns':columns_list }
import json
with open('features.json','w') as file :
    json.dump(d1, file)

In [ ]:
### Step 8: API Building and API Testing

In [ ]:
### Step 9: Deployment 

AWS